/node_modules
/storage/*.key
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
!/storage/app/.gitignore
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/docs
/coverage-report
*.docx
# macOS system files
.DS_Store
**/.DS_Store
/public/hot
**/caddy
frankenphp
frankenphp-worker.php
rr
.rr.yaml
